main {
	padding: 140px 0 75px 0;
	margin: 0 auto;
	width: 1200px;
	text-align: center;
}

.header {
	text-align: center;
	margin-bottom: 50px;
}

table {
	width: 100%;
	margin: 0 auto;
	border-collapse: collapse;
	font-size: 0.9em;
	background-color: var(--table-background);
	color: var(--color);
}

table thead tr {
	background-color: var(--button-background);
	color: var(--button-color);
	text-align: left;
}

table th, table td {
	padding: 12px 15px;
	border: 1px solid var(--border-color);
}

table tbody tr {
	border-bottom: 1px solid var(--border-color);
	cursor: pointer;
}

table tbody tr:nth-of-type(even) {
	background-color: #959595;
	color: black;
}

table tbody tr:nth-of-type(odd) {
	background-color: #fff;
	color: black;
}

table tbody tr:last-of-type {
	border-bottom: 2px solid var(--border-color);
}