main {
	padding: 140px 0 75px 0;
	margin: 0 auto;
	width: 1200px;
	text-align: center;
}

.header {
	text-align: center;
	margin-bottom: 50px;
}

.header a {
	margin: 10px;
}

.question-list {
	text-align: left;
	max-width: 800px;
	margin: auto;
}

.question-item {
	background-color: var(--input-background);
	color: #454545;
	padding: 1rem;
	margin-bottom: 1rem;
	border-radius: 5px;
	padding: 1rem;
}

.question-content {
	margin-bottom: 1rem;
}

.question-actions {
	display: flex;
	justify-content: flex-end;
}

button {
	padding: 5px 10px;
	border-radius: 5px;
	margin-left: 0.5rem;
	cursor: pointer;
	border: none;
	background: var(--button-background);
	color: var(--button-color);
}

.answer-form {
	margin-top: 1rem;
}

.answer-form textarea {
	width: 100%;
	height: 100px;
	margin-bottom: 0.5rem;
	outline: none;
	resize: none;
	border: none;
	padding: 10px;
	border-radius: 5px;
}

.reg_date {
	text-align: right;
	font-size: 14px;
	font-weight: bold;
	border-top: 1px solid black;
	padding-top: 5px;
}

.answer-edit-form textarea {
	width: 100%;
	resize: none;
	margin: 16px 0;
	padding: 5px;
	border: none;
	outline: none;
	border-radius: 5px;
	height: 75px;
}